*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
}

.grid-container{
    display:grid;
    grid-template-columns: 85vw 15vw;
    grid-template-rows: 100vh;
    border-top: 3px;
    border-left: 3px;
    border-right: 3px;
    border-bottom: 3px;
    border-color: black;
    padding: 1px;
    border-width: 2px;
    border-style: groove;
    color: blue;
    font-family: "Lucida Console", "Courier New", monospace;
    padding: 3px;
}
.sidebar{
    margin-left:15px;
}

#popup-coordinate{
    position:'relative';
    background-color: green;
}

.overlay-container{
    background-color: skyblue;
    border-top: 3px;
    border-left: 3px;
    border-right: 3px;
    border-bottom: 3px;
    border-color: black;
    padding: 1px;
    border-width: 2px;
    border-style: groove;
    color: blue;
    font-family: "Lucida Console", "Courier New", monospace;
    padding: 3px;
}


